.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #001c35;
  padding: 10px;
  color: #fff;
  top: 0;
  left: -250px; /* oculto por defecto */
  z-index: 1000;
  transition: left 0.3s ease;
}

/* cuando el sidebar está activo */
.sidebar.open {
  left: 0;
}

.sidebarList {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top:25%;
}

/* FILA */
.sidebarList .row {
  width: 100%;
  list-style: none;
}

/* SUMMARY */
details summary {
  font-weight:bold;
  padding: 14px 16px;
  list-style: none;
  user-select: none;
}

/* quitar flecha nativa */
details summary::-webkit-details-marker {
  display: none;
}

/* flecha personalizada */
details summary::after {
  content: "▼";
  float: right;
  font-size: 12px;
}

details[open] summary::after {
  content: "▲";
}

/* hover correcto */
details summary:hover,
.link-btn:hover,
.submenu-btn:hover {
  text-decoration: underline;
}

/* SUBMENÚ */
.submenu {
  padding-left: 20px;
}
li{
  list-style:none;
}
/* botones */
.link-btn,
.submenu-btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  padding: 10px 16px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

/* elimina reglas viejas que rompen el acordeón */
.row {
  height: auto;
  display: block;
}
